<h1>Users </h1>
<hr>
<div>
  <ul class="list-group users-list">
 <% @users.each do |user|%>     
      <li class="list-group-item users-list-item"><%= user.profile.name%> 
      <% if current_user != user %>
        <% if !@accepted_users.nil? && @accepted_users.include?(user)%> 
           <%= link_to 'Friend','#',  class: 'btn btn-success' %>
        
        <% elsif !@pending_users.nil? && @pending_users.include?(user)%> 
           <%= link_to 'Pending','#',  class: 'btn btn-warning' %>
        
        <% elsif !@friendships_users.nil? && !@friendships_users.include?(user)%> 
        <%= link_to 'Add friend', friendship_path(id: user.id), method: :post, class: 'btn btn-primary' %>
          <% end %>
         <% end %>
       </li>
    <% end %> 
  </ul>
</div>

