<span class="post-buttons-comment edit"><%= link_to "Edit", posts_edit_path %></span>
<span class="post-buttons-comment delete"><%= link_to 'Delete', post,  method: :delete, data: { confirm: 'Are you sure?' } %> </span>