<div class="container">
    <% if current_user%>
    
        <span><%= link_to "Sign out", destroy_user_session_path, method: :delete %></span>
    
    <% else %>
    
        <span><%= link_to "Sign in", new_user_session_path %> or </span>
        <span><%= link_to "Sign up", new_user_registration_path %></span>

    <% end %>
    

</div>
