<div class="container">
    <% if current_user%>
          <%= render 'newpost'%>
    <% end %>
    <hr>

    <h2>Timeline</h2>

    <% @posts.each do |post|%>
        <hr>
        
        <h3> <%= post.content %> </h3>
        <h5><%= post.author%> </h5>
        <h6><%= time_ago_in_words(post.created_at) %> ago  </h6>
    <% end %>

</div>
