// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile{

    display:flex;
    flex-wrap: no-wrap;

    &-title{
        margin: 50px 0;
    }

    &-list{
        
        &-keys{
            width: 20%;
        }

        &-values{
            width: 100%;
        }
    }
}

.users-list{
    &-item{
        display: flex !important;
        justify-content: space-between;
        align-items: center;
    }
}
